<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://s547man.storage.yandex.net/rdisk/e8aa4202b24b29be62a14817676a430b2bf6552b1025190e7be8da023039fe7b/613ed0ef/ryKnr0fcVxSgzlsaKQ0JbZMb_9dHtypA-SwaXfmMlyeocd0mMzgNvqFMnlQDrj5CvP5_LNOxCvAcYkqbAdc8LQ==?uid=0&filename=Odyssey.ipa&disposition=attachment&hash=WWuX1j9m7hA%2BMn%2BX3RJG1nqXw7msRcVtUWaKQ3xnOXjY3QOrDWPsDZ4jLzR/XySEq/J6bpmRyOJonT3VoXnDag%3D%3D&limit=0&content_type=application%2Fx-ios-app&owner_uid=269375209&fsize=22685520&hid=a7d17966750a82f174bd82a12af74672&media_type=unknown&tknv=v2&rtoken=boAQHCWyUb3e&force_default=no&ycrid=na-42786f14c5c6041855e9c90a6a34c5f4-downloader20e&ts=5cbd8bf92d9c0&s=20ae2b4baea625c7299118e73baca2b00e8d376779496a9743ab921a1b9ef496&pb=U2FsdGVkX19ffwYsv6Hlux7pzybM7i1_MOAlaMGzXynPkV4TRM3lE3zw4K9ZsVIaxnkHbcBf7A5J4ersnc9RFhk9jvQYSOeRxUeAlpIcaxM</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://turannul.github.io/ipa/icons/OdysseyIcon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://turannul.github.io/ipa/icons/OdysseyIcon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>org.coolstar.odyssey</string>
				<key>bundle-version</key>
				<string>1.3.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Odyssey</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>